# Format options
--closingparen same-line
--indent 2
--patternlet inline
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--maxwidth 130

# File options
--exclude Carthage,Pods,Xcode\ Templates

# Rules
--disable andOperator,enumNamespaces,unusedArguments,wrapMultilineStatementBraces
